@import '../../node_modules/sanitize.css/sanitize';

* {
  box-sizing: border-box;
}

:root {
  font-size: 12px;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin-bottom: 5rem;

  img {
    height: 100%;
    width: 75%;
  }

}

main {
  flex-basis: 100%;
  display: flex;
  justify-content: center;

  form {
    padding: 0;
    margin: 0;
    height: 3em;
    display: flex;
    min-width: 22em;
    max-width: 33em;
    flex-grow: 1;
    border: .2em solid #E181CE;
  }

  input, button {
    margin: 0;
    padding: 0;
  }

  input {
    flex-grow: 1;
    flex-shrink: 1;
    border: none;
  }

  button {
    flex-grow: 0;
    flex-shrink: 1;
    border: none;
    cursor: pointer;
    width: 34px;
    align-self: center;

    img {
      display: block;
      height: 34px;
      width: 34px;
    }
  }

}
